.App {
  text-align: center;
  position: relative;
}

.here {
  color: #FDB9F8;
  font-weight: bold;
  font-size: 12px;
}

.headline {
  background: linear-gradient(236deg, #fdb9f8, #363636);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 68%}
  50%{background-position:100% 33%}
  100%{background-position:0% 68%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 68%}
  50%{background-position:100% 33%}
  100%{background-position:0% 68%}
}
@keyframes AnimationName {
  0%{background-position:0% 68%}
  50%{background-position:100% 33%}
  100%{background-position:0% 68%}
}
.h1 {
  font-size: 12px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 1cm;
  animation: App-logo-spin infinite 5s linear;
}

.SpotifyPlayer {
  margin-top: 1cm;
  width: 85%;
}

#codeInput {
  padding: 12px 35px;
  border-style: solid;
  border-radius: 25px;
  background-color: antiquewhite;
  text-align: center;
  color: #FDB9F8;
}

#codeInput:hover {
  border-color: #FDB9F8;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: antiquewhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(54, 54, 54);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
