.div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border : solid;
    border-radius: 80px;
    border-color: #FDB9F8;
    background-color: antiquewhite;
    font-weight: 300;
    font-size: medium;
    color : antiquewhite;
    margin: 0.5cm;
    transition-duration: 0.4s;
}

#a{
    color:#FDB9F8;
}

.div:hover {
    background-color: #FDB9F8;
    border-color: #FDB9F8;
    color : antiquewhite;
} 

#img {
    width: 15%;
    filter: brightness(0) saturate(100%) invert(75%) sepia(73%) saturate(323%) hue-rotate(239deg) brightness(103%) contrast(98%);
}


.div:hover #img {
    width:15%;
    filter: brightness(0) saturate(100%)invert(87%) sepia(8%) saturate(821%) hue-rotate(334deg) brightness(109%) contrast(96%);
}

.div:hover #a {
    color: white;
}
