*{
    background-color: antiquewhite;
    font-family: monospace;
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  align-content: center;
  text-align: center;
}

#button{
    padding: 20px 40px;
    transition-duration: 0.5s;
    border-radius: 10px;
}

#button:hover {
  background-color:rgb(54, 54, 54);
  color: antiquewhite;
}
