* {
    background-color: antiquewhite;
    font-family: Courier New, monospace;
}

.container{
    display: block;
    text-align: center;
    
}



#button {
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 8px;
    transition-duration: 0.5s;
}
  
#button:hover {
    background-color: #000000;
    color: antiquewhite;
}
  
#result {
    color:rgb(0, 0, 0);
}